<h3 style="color: #16A085;">
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
</h3>

<h1>Edit <%= @item.name %> below:</h1>

<form action="/items/<%= @item.slug %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="PATCH">
  <label for="item_name">Item:</label>
  <input type="text" id="item_name" name="item_name" value="<%= @item.name %>">
  <br><br>
  <label for="cost">Cost: $</label>
  <input type="text" id="cost" name="cost" value="<%= @item.cost %>">
  <br><br>
  <label for="date_purchased">Date Purchased (YYYY-MM-DD):</label>
  <input type="text" id="date_purchased" name="date_purchased" value="<%= @item.date_purchased %>">
  <br><br>
  <label>Select an existing category:</label>
  <br>

  <% @categories.each do |category| %>
    <input type="checkbox" id="<%= category.name %>" name="item[category_ids][]" value="<%= category.id %>" <%= 'checked' if @item.categories.include?(category) %>><%= category.name %></input>
    <br>
  <% end %>

  <br>

  <label for="category_name">And/or create a new category:</label>
  <input type="text" id="category_name" name="category_name">
  <br><br>
  <button type="submit" value="update_item">Update Item</button>
</form>

<br><br><br>

<footer>
  <a href="/items">Home</a> | <a href="/logout">Log Out</a>
</footer>
