<h2><%= @item.name %></h2>

Cost: $<%= @item.cost %>
<br><br>
Date Purchased: <%= @item.date_purchased %>
<br><br>
Stored in:
  <% if !@item.groups.empty? %>
  <ul>
    <% @item.groups.each do |group| %>
      <li><a href="/groups/<%= group.slug %>"><%= group.name %></a></li>
    <% end %>
  <% else %>
    <%= @item.name %> is not assigned to any categories.
  <% end %>
  </ul>
<br><br>

<a href="/items/<%= @item.slug %>/edit" class="button btn-primary">Edit Item</a>

<br><br>

<form action="/items/<%= @item.slug %>" method ="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" value="delete_item" class="button btn-primary">Delete Item</button>
</form>
