<h3 style="color: #16A085;"><% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %></h3>

<h2><%= @item.name %></h2>
Cost: $<%= @item.cost %>
<br><br>
Date Purchased: <%= @item.date_purchased %>
<br><br>
Stored in:
<ul>
  <% @item.categories.all do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>
<br><br>

<a href="/items/<%= @item.slug %>/edit">Edit Item</a>

<br><br>

<form action="/items/<%= @item.slug %>/delete" method ="POST">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <button type="submit" value="delete">Delete Item</button>
</form>

<br><br><br>

<footer>
  <a href="/items">Home</a> | <a href="/logout">Log Out</a>
</footer>
